<div class="login"></div>
<select>
    <option value="1">by login</option>
    <option value="2">by ncalayer</option>
</select>

<br>
<h3>By login</h3>
<label for="login">login</label>
<input type="text" id="login" name="login">

<label for="password">password</label>
<input type="password" id="password" name="password">

<br>
<h3>By NCALayer</h3>
<label for="key">Выберите ключ</label>
<input type="file" id="key" name="key">

<ng-container *ngIf="loading">
    <div class="loader"> </div>
</ng-container>



